<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <welcome-file-list>
        <welcome-file>login</welcome-file>
        <welcome-file>authentication</welcome-file>
        <welcome-file>signup</welcome-file>
        <welcome-file>register</welcome-file>
        <welcome-file>authenticatedSuccessfully</welcome-file>
        <welcome-file>mainDashboard</welcome-file>
        <welcome-file>addCourse</welcome-file>
        <welcome-file>assign</welcome-file>
        <welcome-file>submit</welcome-file>
        <welcome-file>viewSubmissions</welcome-file>
        <welcome-file>studentDashboard</welcome-file>
        <welcome-file>registration.rca</welcome-file>
        <welcome-file>HelloServlet</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <display-name>Hello Application</display-name>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>com.submission.mis.onlinesubmission.HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/HelloServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>Registration of students</display-name>
        <servlet-name>StudentRegistration</servlet-name>
        <servlet-class>com.submission.mis.onlinesubmission.Controllers.ServletController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentRegistration</servlet-name>
        <url-pattern>/registration.rca</url-pattern>
        <url-pattern>/registration.html</url-pattern>
        <url-pattern>/nyabihu</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>Login</display-name>
        <servlet-name>AuthenticationLogin</servlet-name>
        <servlet-class>com.submission.mis.onlinesubmission.Controllers.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthenticationLogin</servlet-name>
        <url-pattern>/login</url-pattern>
        <url-pattern>/authentication</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>Register Teacher Or Student</display-name>
        <servlet-name>RegisterUser</servlet-name>
        <servlet-class>com.submission.mis.onlinesubmission.Controllers.RegisterController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterUser</servlet-name>
        <url-pattern>/register</url-pattern>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>Authenticated Successfully</display-name>
        <servlet-name>StudentDashboard</servlet-name>
        <servlet-class>com.submission.mis.onlinesubmission.Controllers.AuthenticatedController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentDashboard</servlet-name>
        <url-pattern>/authenticatedSuccessfully</url-pattern>
        <url-pattern>/studentDashboard</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>Teachers' Dashboard</display-name>
        <servlet-name>TeacherDashboard</servlet-name>
        <servlet-class>com.submission.mis.onlinesubmission.Controllers.TeacherController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TeacherDashboard</servlet-name>
        <url-pattern>/teacher</url-pattern>
        <url-pattern>/mainDashboard</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>Add Course</display-name>
        <servlet-name>AddCourse</servlet-name>
        <servlet-class>com.submission.mis.onlinesubmission.Controllers.CourseController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCourse</servlet-name>
        <url-pattern>/addCourse</url-pattern>
        <url-pattern>/courseCreation</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>Create Assignment</display-name>
        <servlet-name>CreateAssignmentController</servlet-name>
        <servlet-class>com.submission.mis.onlinesubmission.Controllers.CreateAssignmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateAssignmentController</servlet-name>
        <url-pattern>/createAssignment</url-pattern>
        <url-pattern>/assign</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>Submit Assignment</display-name>
        <servlet-name>SubmitFiles</servlet-name>
        <servlet-class>com.submission.mis.onlinesubmission.Controllers.SubmitWorkServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubmitFiles</servlet-name>
        <url-pattern>/submit</url-pattern>
        <url-pattern>/submitAssignment</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>View Submissions</display-name>
        <servlet-name>viewSubmissions</servlet-name>
        <servlet-class>com.submission.mis.onlinesubmission.Controllers.ViewSubmitted</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>viewSubmissions</servlet-name>
        <url-pattern>/viewSubmissions</url-pattern>
    </servlet-mapping>
</web-app>